<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<typeAliases>
		<typeAlias alias="Goods" type="com.matt.business.good.entities.Goods" />
	</typeAliases>

	<mappers>
		<mapper resource="com/matt/business/good/mapper/GoodsDaoMapper.xml" />
	</mappers>

</configuration>